/* this is the phone  use*/
@media only screen and (max-width: 576px) {
  .container{
    width:100%;
   
  }
  .img-fliud{
    width:100%;
  }
  /* this is header nav */
  .nav{
   display: grid;
   justify-content:center;
   text-align: center;
   
  }
  .logo h3{
    font-size:20px;
    margin:2%;
    
  }
  .nav-bar ul{
    display: grid;
    text-align: center;
    justify-content: center;
  }
  .nav-bar ul li a{
      padding:5px;
    
  }
  /* this is the bannar text */

  .banar-text{
    width:100%;
    margin-left:0px;
    margin-top:20px;
    
  }
  .bnnar-info{
    padding:5px;
  }
  .bnnar-info h1{
    padding:10px;
    font-size: 20px;
    line-height: 30px;
    margin:5%;
  }
  .bnnar-info p{
    padding:10px;
    margin:5%;
    font-size: 10px;
  }
  .btn{
    
    padding:1em;
    font-weight: 100;
    font-size:10px;
    background-color:#ff900e ;
  }
/* this is the main section  */

/* this is the quick section  */
  .container-quick{
    width:100%;
  }
  .quick{
    width:100%;
    grid-template-columns: repeat(1,1fr);
    
  }
  .quick-img{
    grid-template-columns: repeat(1 ,1fr);
   
  }
  .quick-text{
    
    margin-left:0px;
    text-align: center;
   
  }
  .quick-text h2{
    margin:10px;
    font-size: 20px;
    line-height: 30px;
  }
  .quick-text p{
    margin:5px;
    font-size: 10px;
    line-height: 20px;
  }
  .btn-w{
    text-align: center;
    width:100%;
    padding:5px;
  }
/* this is the  */









































}



