/*-----------------------------------------
 this is the phone  use--
 --------------------------------------------*/

@media only screen and (max-width: 516px) {
  .container{
    width:100%;
   
  }
  .img-fliud{
    width:100%;
  }
  /*---------------------------------------------
   this is header nav
   ------------------------------------------------ */
  .nav{
   display: grid;
   justify-content:center;
   text-align: center;
   
  }
  .logo h3{
    font-size:20px;
    margin:2%;
    
  }
  .nav-bar ul{
    display: grid;
    text-align: center;
    justify-content: center;
  }
  .nav-bar ul li a{
      padding:5px;
    
  }
  /*-------------------------------------------------
   this is the bannar text-------------------------
   ---------------------------------------------------- */

  .banar-text{
    width:100%;
    margin-left:0px;
    margin-top:20px;
    
  }
  .bnnar-info{
    padding:5px;
  }
  .bnnar-info h1{
    padding:10px;
    font-size: 20px;
    line-height: 30px;
    margin:5%;
  }
  .bnnar-info p{
    padding:10px;
    margin:5%;
    font-size: 10px;
  }
  .btn{
    
    padding:1em;
    font-weight: 100;
    font-size:10px;
    background-color:#ff900e ;
  }
/*----------------------------------------------
 this is the main section 
 ---------------------------------------------- */

/*----------------------------------------------------
 this is the quick section
 --------------------------------------------------  */
  .container-quick{
    width:100%;
  }
  .quick{
    width:100%;
    grid-template-columns: repeat(1,1fr);
    
  }
  .quick-img{
    grid-template-columns: repeat(1 ,1fr);
   
  }
  .quick-text{
    
    margin-left:0px;
    text-align: center;
   
  }
  .quick-text h2{
    margin:10px;
    font-size: 20px;
    line-height: 30px;
  }
  .quick-text p{
    margin:5px;
    font-size: 10px;
    line-height: 20px;
  }
  .btn-w{
    text-align: center;
    width:100%;
    padding:5px;
  }
/*--------------------------------------------
 this is the features
 -------------------------------------------------- */
    .featur{
      width:90%;
      grid-template-columns: repeat(1,1fr);
      margin:10px;
    }
    .teatur-item h2{
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
    }
    .teatur-item-1{
      padding:0px;
    }
    .teatur-item p{
      font-size:10px;
      padding:20px;
    }
    .teatur-item{
      text-align: center;
      margin-right:0px;
    }
    .featur-text{
      width:100%;
      margin-right:0px;
    }
    .box{
      margin-left:15px;
      justify-items: center;
      padding:0px;
      bottom:-70px;
     
    }
    .featur-img{
     
      margin-bottom:120PX;
    }
    .img-postion{
      width:100%;
  }
/*-------------------------------------------
  this is the facts-----------
  ------------------------------------------  */
    .Faccts{
      width:90%;
      margin:10px;
      
    }
    .fact-item{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      gap:10px;
      
  }
  .fact-box{
   padding:5px;
  }
/*------------------------------------------
this is sponspore
---------------------------------------------- */

  .sponspor{
    text-align: center;
  }

  .sponspor-item{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content:none;
  }
  .sponspor p{
    font-size:10px;
    font-size: 10px;
    line-height:10px;
  }
  .sponspor h2{
    font-weight: 500;
    font-size: 20px;
  }
  .img-item{
    width:100%;
  text-align: center;
  
  }

  /*----------------------------------------
   this is  my section
   --------------------------------------------  */
  .Homeless{
    width:100%;
  }
  .Homeless h2{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-bottom:5px;
  }
  .homeles-titem{
        
  }
  .home-tex{
        font-weight: 700;
        font-size: 25px;
        line-height: 43px;
        margin-bottom:20px;

  }
  /*------------------------------------------
   this is the footer
   ----------------------------------------------- */
  .footer{
    width:100%;
  }
  .footer-text{
    text-align: center;
    padding:0px;
  }































}

